.plant-table {
width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .plant-table table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  
  .plant-table th,
  .plant-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .plant-table img {
    max-width: 50px;
    max-height: 50px;
  }
  
  .plant-table th:first-child,
  .plant-table td:first-child {
    text-align: left;
  }
  
  .plant-table th:nth-child(2),
  .plant-table th:nth-child(3) {
    width: 150px;
  }
  
  .plant-table th:nth-child(4),
  .plant-table th:nth-child(5) {
    width: 100px;
  }
  
  .plant-table th:nth-child(6) {
    width: 80px;
  }
  .plant-table  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .plant-table  button:hover {
    background-color: #0056b3;
  }