<div class="container">
    <div class="grid md:grid-cols-3 xxs:grid-cols-1">
        <div class="flex justify-center items-center mt-28 md:w-[320px] xxs:w-full md:h-[320px] xxs:h-[40vh]">
            <img src="../../../../../assets/images/suggestions.jpg" class="md:rounded-full xxs:rounded-sm md:w-full xxs:w-[60%] h-full object-cover">
        </div>
        <div class="col-span-2 flex justify-center items-center md:mt-28 xxs:mt-12">
            
            <div class="w-[70%] h-auto">
                <div class="grid grid-cols-2">
                    <h1 class="bg-[#ededed] px-5 py-2  border-[.6px] font-semibold">Name:</h1>
                    <p class="bg-[#ededed] px-5 py-2 border-[.6px] text-sm">Apple</p>
                </div>
                <div class="grid grid-cols-2">
                    <h1 class="bg-[#d8d8d8]  px-5 py-2 border-[.6px] font-semibold">Medical Benefits: </h1>
                    <p class="bg-[#d8d8d8]   px-5 py-2 border-[.6px] text-sm">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Repellat quae incidunt, expedita eos temporibus a aliquam. Illum officia
                        labore sequi tenetur cumqu</p>
                </div>
                <div class="grid grid-cols-2">
                    <h1 class="bg-[#ededed] px-5 py-2  border-[.6px] font-semibold">Short Description:</h1>
                    <p class="bg-[#ededed] px-5 py-2 border-[.6px] text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis maiores dolores quisquam, consectetur tempora nam voluptatem vitae illum qui in enim libero reprehenderit impedit, rerum </p>
                </div>
                <div class="grid grid-cols-2">
                    <h1 class="bg-[#d8d8d8] px-5 py-2 border-[.6px] font-semibold">Season: </h1>
                    <p class="bg-[#d8d8d8]  px-5 py-2 border-[.6px] text-sm">Apple</p>
                </div>
                <div class="grid grid-cols-2">
                    <h1 class="bg-[#ededed]  px-5 py-2 border-[.6px] font-semibold">How can take care: </h1>
                    <p class="bg-[#ededed] px-5 py-2 border-[.6px] text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis beatae, id doloribus reiciendis hic ipsa iure. Ex fugit reiciendis ipsa sed laborum nobis vitae, velit illo est! Rerum, dolorem eaque!</p>
                </div>
                
            </div>
        </div>
       
    </div>
</div>