<div class="post rounded-md p-4 my-2 ">
   <div class="post-section pb-4">
    <div class="flex flex-start justify-start items-center">
        <img src="../../../../../assets/images/expert1.jpeg" class="rounded-full w-10 h-10 me-2">
       <h6 class="font-semibold text-black">{{post.username}}</h6>
    </div>
    <div class="mt-2" >
        <p class="text-black font-bold mb-1">{{post.title}}</p>
       <p class="text-[#000000b3] text-sm">{{post.details}}</p>
    </div>
    <div class="flex justify-end items-center mt-4">
       <div>
         <button class="me-4" (click)="commentClicked()"><i class="fa-regular fa-comment"></i></button>
         <button>
            <i class="fa-regular fa-heart" *ngIf="post.liked == false"></i>
        <i class="fa-solid fa-heart" style="color: #e2283a;" *ngIf="post.liked == true"></i>
    </button>
       </div>
    </div>
   </div>
   <div class="mt-2">
    <h6> {{"community.comments" | translate}}</h6>
    <ng-container *ngIf="short">
            <div *ngFor="let comment of post.comments.slice(0,1)">
                <div class="flex flex-start justify-start items-center mt-4">
                    <img src="../../../../../assets/images/expert1.jpeg" class="rounded-full w-10 h-10 me-2">
                   <div>
                    <h6 class="font-semibold text-black text-sm">{{comment.username}}</h6>
                   <p class="text-sm text-[#000000b3]">{{comment.comment}}</p>
                   </div>
                </div>
                <div class="flex justify-between items-center mt-6" *ngIf="showAddCommentSection">
                    <input type="text" pInputText placeholder="Add Comment" class="w-full mb-3 placeholder:text-sm" />
                    <button class="mb-3 ms-1" (click)="commentClicked()"><i class="fa-solid fa-location-arrow" style="font-size: 20px"></i></button>
                </div>
                <div class="flex justify-center items-center">
                    <button *ngIf="post.comments.length>1 && !showAddCommentSection" (click)="viewPost(post)"><i class="fa-solid fa-circle-arrow-down" style="color:green" ></i></button>
                </div>
            </div>
  </ng-container>
  <ng-container *ngIf="short==false">
    <div *ngFor="let comment of post.comments">
        <div class="flex flex-start justify-start items-center mt-4">
            <img src="../../../../../assets/images/expert1.jpeg" class="rounded-full w-10 h-10 me-2">
           <div>
            <h6 class="font-semibold text-black text-sm">{{comment.username}}</h6>
           <p class="text-sm text-[#000000b3]">{{comment.comment}}</p>
           </div>
        </div>
       
       
    </div>
    <div class="flex justify-between items-center mt-6" *ngIf="showAddCommentSection">
        <input type="text" pInputText placeholder="Add Comment" class="w-full mb-3 placeholder:text-sm" />
        <button class="mb-3 ms-1" (click)="commentClicked()"><i class="fa-solid fa-location-arrow" style="font-size: 20px"></i></button>
    </div>
</ng-container>
   
    
   </div>
</div>